{% extends "basic_app/base.html" %}
{% block body_block %}

  {% for usertask in usertasks %}

  <form action="{% url 'basic_app:user_tasks_view' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="text" name="name" id="id_name" value="{{ usertask.name }}" style="display:none">
    <label for="name" name = "task_name" id = "id_name">{{ usertask.name }}</label>
    <label id="hours"> 00</label>:<label id = "minutes">00</label>:<label id = "seconds">00</label>
    <input type="text" name="timer" id="id_timer" value="{{ usertask.timer }}" style="display:none">
    <input type="text" name="id" id = "id_id" value="{{ usertask.id }}" style="display:none">
    <input type="submit" name="task_button" value="Отправить">
  </form>
    <button type="button" id="start_button" onclick="start_time_counting()">Запустить</button>
    <button type="button" name="stop_button" onclick="stop_time_counting()">Остановить</button>
  {% endfor %}
  <br>
  <button type="button" id="create_button" onclick="create_new_task()" style="display:block">Создать задачу</button>
  <form action="{% url 'basic_app:user_tasks_view' %}" method="POST" style="display:none" id="create_new_task_form" autocomplete="off">
    {% csrf_token %}
    <input type="text" name="name" id="id_name" value="" placeholder="Введите имя задачи" >
    <input type="text" name="timer" id="id_timer" value="0" style="display:none">
    <input type="text" name="id" id="id_id" value="0" style="display:none">
    <input type="submit" name="task_button" value="Отправить">
  </form>
  <button type="button" id="cancel_create_button" style="display:none" onclick="create_new_task()">Отмена</button>

  <script type="text/javascript">
    function pad (val) { return val > 9 ? val : "0" + val; };                     //дописываем 0, если число часов, минут или секунд меньше 10
    var sec = document.getElementById("id_timer").value;                         //берем исходное значение секунд
    var myVar = {};                                                                 //объявляем переменнуЮ, которую будем использовать для счетчика

    document.getElementById("seconds").innerText = pad(sec%60);
    document.getElementById("minutes").innerText = pad(Math.floor(sec%3600/60));
    document.getElementById("hours").innerText = pad(Math.floor(sec/3600));

    function start_time_counting() {
          myVar = setInterval( function(){
            document.getElementById("seconds").innerText=pad(++sec%60);               //функция плюсует только значение sec, которое брало цифру из базы данных
            document.getElementById("minutes").innerText=pad(Math.floor(sec%3600/60));
            document.getElementById("hours").innerText=pad(Math.floor(sec/3600))
          }, 1000);
      }

    function stop_time_counting() {                                                     //остановка отсчета времени. Не сброс
        clearInterval(myVar);
        document.getElementById("id_timer").value = sec;
      }

    function create_new_task() {
      if (document.getElementById("create_button").style.display==="block"){
        document.getElementById("create_button").style.display="none";
        document.getElementById("create_new_task_form").style.display="block";
        document.getElementById("cancel_create_button").style.display="block";
      }
      else{
        document.getElementById("create_button").style.display="block";
        document.getElementById("create_new_task_form").style.display="none";
        document.getElementById("cancel_create_button").style.display="none";
      }
    }


  </script>
{% endblock %}
